


<h1 id="Contact">Contact</h1>
<p>Want to talk to the maker of Morgage Helper? Send him a message below!</p>
<hr />


<tr>
    <td>
        <form action="https://formspree.io/f/mdopaaoq" method="post">

            <label class="col-lg-12 col-md-12 col-sm-12"> <input type="text" style="border: 1px solid #6F2378;" name="_replyto" placeholder="Email" onfocus="this.placeholder =''"> </label>



            <label class="col-lg-12 col-md-12 col-sm-12"><textarea rows=4 cols=60 name="message" placeholder="Type message here" onfocus="this.placeholder =''" ;></textarea> </label>




            <button id="buttonspacer" type="submit">Send</button>


        </form>
    </td>
</tr>
<br />
<br />

<tr>
    <td>
        | @Html.ActionLink("Back to Home Page", "Index") |

    </td>
</tr>
