@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mortgage Helper</h1>
    <p class="lead">This is a free web-hosted database with tools to help you compare houses and land that you are considering purchasing. If it's your first time here, click on the "Intro" guide below for some advice on how to use the site. Happy House Hunting!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Intro Guide</h2>
        <p>
            This how to guide will walk you throw how to use Mortgage Helper and what functions the site has.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code</h2>
        <p>If you want a look behind the curtain, click here for a look at the code that keeps the lights on.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you have any questions or concerns about Mortgage Helper, please send a message my way. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>